@import "./styles/tokens.css";

/* 고정 헤더 높이만큼 페이지 컨텐츠 아래로 내림 */
main {
  margin-top: 0px; /* Header height */
}

/* 앱 공통 스타일 */
.App {
  text-align: center;
}

/* 필요 시 추가 공통 스타일 */
body {
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
  background-color: #EBF5FD;
}
